
<section id="show-overview">
  <img src="{{showInfo.poster}}">
  <div class="show-details">
    <h1>{{showInfo.title}}</h1>
    <h2>{{showInfo.air_day_of_week}}s at {{showInfo.air_time}} on {{showInfo.channels[0].name}}</h2>
    <h2>{{showInfo.rating}}</h2>
    <!--<h2 *ngFor=" let genre of showInfo.genres">{{genre.title}}</h2>-->
    <p> {{showInfo.overview}}</p>
  </div>
  <!--<div class="cast">-->
    <!--<div *ngFor=" let castMember of showInfo.cast">-->
    <!--<img src="{{castMember.image}}">-->
    <!--<h2>{{castMember.name}} as {{castMember.character_name}}</h2>-->
  <!--</div>-->
  <!--</div>-->
</section>
<h2>Episodes</h2>
<section id="show-episodes">
  <div class="episode" *ngFor="let episode of episodes">
    <img src="{{episode.thumbnail_400x225}}">
    <h3>{{episode.title}}</h3>
  </div>

</section>
<section id="related-shows">
  <div class="related-show" *ngFor="let show of relatedShows">
    <h3>{{show.title}}</h3>
   <a href="/shows/{{show.id}}/{{userSubscriptions}}"><img src="{{show.artwork_448x252}}"></a>
  </div>

</section>
