@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/searchResults';

//#background {
//  @include opacity(.1);
//  background: no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//  min-width: 100%;
//  min-height: 100%;
//  padding: 0;
//  margin: 0;
//
//}

#show-overview {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
    img {
      height: auto;
      width: 50%;
    }
    .show-details {
      color: #fefefe;
      padding: 2%;
      font-family: Margot;
        p {
          font-size: 1.5em;
        }
    }
};

.cast {
  width: 30%;
  height: 30vh;
  overflow: scroll;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #fefefe;
   img {
     width: 40%;
     height: auto;
   }
  span {

  }

}

#show-episodes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2%;
  .episode {
    margin: 1%;
    background-color: $teal;
  }
}
