// TODO: 1. Find Correct Font 2. Nail down styling for movies and shows 3. Find better way to show results depending on shows or movies
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/searchResults";

#search-containter {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  text-align: center;

}

.result-card {
  color: $teal;
  font-family: "Helvetica Neue";
  margin: 2% auto;
  cursor: pointer;
  .caption {
    display: block;
    .title {
      font-size: 1.5em;
      @include truncate(80%);
    }
    .year {
      font-size: 1.2em;
    }
  }

   &:hover {
    color: #fefefe;
  }
}




