// TODO: 1. Find Correct Font 2. Nail down styling for movies and shows 3. Find better way to show results depending on shows or movies
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/searchResults";

#search-containter {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  margin: 1% 0 1% 6%;

}

.result-card {
  color: $teal;
  margin: 3% auto;
  cursor: pointer;
  text-align: left;
  .caption {
    margin: .5%;
    @include truncate(300px);
    .title {
      font-size: 1.3em;
      margin-top: .5%;
      margin-bottom: 0;
      padding: 0;
      font-family: 'PT Sans', sans-serif;
    }
    .year {
      font-size: 1em;
      margin-top: 0;
      padding: 0;
      font-family:'PT Sans', sans-serif;
      font-style: italic;
    }
  }

   &:hover {
    color: #fefefe;
  }
}




